<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <!--<ion-nav-bar animation="nav-title-slide-ios7">-->
            <!--<ion-nav-back-button class="button-icon ion-ios7-arrow-left">-->
            <!--</ion-nav-back-button>-->
        <!--</ion-nav-bar>-->
        <ion-nav-view name="material-adverse-change-view"></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <!--<ion-side-menu side="left" expose-aside-when="large">-->
    <ion-side-menu side="left">

        <!--<region-selector></region-selector>-->
        <!--<css-matrix-creator></css-matrix-creator>-->
    </ion-side-menu>

    <!-- Right menu -->
    <ion-side-menu side="right">
    </ion-side-menu>
</ion-side-menus>
