<ion-view title="TEST" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            Material Adverse Change
            <div id="map" class="map-container easing">
                <img matrix-element src="img/world-map-2.png" alt="world map" style="height: 100%;width: 100%;-webkit-transform:{{matrixString}};"/>
            </div>
        </div>

        <div class="card">
            <span class="class">In what proportion of deals was there a material adverse change provision in</span>
        </div>

        <div class="card"><input matrix-element type="textbox" ng-model="matrixObjectString">
            <input matrix-element type="textbox" ng-model="matrixString">
        </div>

    </ion-content>
</ion-view>
