<div>
    <nav ng-class="menuCss" class="k-bg-black">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" ng-click="toggleMenuState()"><i class="icon-remove"></i> </a>
                </li>
            </ul>
        </nav>
        <h3>Menu</h3>
        <ul class="nav nav-stacked">
            <li><a href="#">Mike</a></li>
            <li><a href="#">Test</a></li>
        </ul>
    </nav>
    <div id="content" ng-class=mainCss>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" ng-click="toggleMenuState()"><i class="icon-reorder icon-2x"></i></a>
                 </li>
            </ul>
        </nav>
    </div>
</div>