<div>
    <!--<div id="items" ng-controller="isotopeCtrl">-->
        <!--<button ng-click="addTile('oneByOne')">Add 1,1</button>-->
        <!--<section isotope data="collection">-->
            <!--<tile ng-repeat="tile in items"></tile>-->

        <!--</section>-->
    <!--</div>-->
    <ul>
        <li>Isotope is a 3rd party jQuery plugin which is a layout framework.</li>
        <li>Isotope is responsible for laying out tiles of different shapes and sizes making best use of the
            space available.</li>
        <li>Isotope uses a grid system similar to grid systems used for responsive layout.</li>
        <li>A tile is a container which is of a default height and width of ######.</li>
        <li>Fibonacci sequence numbers are 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89</li>
        <li>A 1,1 tile is 1 column across and 1 row deep.</li>
        <li>A 1,2 tile is 1 column across and 2 rows deep (portrait).</li>
        <li>A 2,1 tile is 2 columns across and 1 row deep (landscape).</li>
        <l1>A tile can go up to a maximum of 5 columns across and 5 rows deep.</l1>
    </ul>
    <div id="container" class="js-isotope"
         data-isotope-options='{ "columnWidth": 200, "itemSelector": ".item", "animationEngine": "jquery" }'>
        <div class="tile">Item1</div>

         </div>
</div>


<!--<div ng-controller="isotopeCtrl">-->
    <!--{{ items }}-->
    <!--<div isotope>-->


    <!--</div>-->

<!--</div>-->