<div class="panel-body">
    <div class="well">
        <h2>{{buttonClicked}}</h2>
    </div>
    <p>I need to be broken up into discreet parts.</p>
    <p>As a panel and given a matter id, I will call the appropriate service to get the data to be displayed. </p>

    <p>I will need to be a fixed height, but allow for scrolling in the panel body.</p>

    <p>I will 'watch' for changes in the app controller to detect when the selected matter number has changed.</p>

    <p>I will keep the user informed of my progress while getting the data.</p>

    <p>Once I have the data, I will allow the user to choose from a table view or a chart view of the data.</p>

    <p>I will probably need to be a fixed size.</p>
</div>