<table class="table-finance">

    <tr>
        <td>&nbsp;</td>
        <td>Fees</td>
        <td>Effective Rate</td>
        <td>Hours</td>
        <td>Leverage</td>
    </tr>
    <tr>
        <td><strong>Net</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.net}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.net}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.net}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.net}}</td>
    </tr>
    <tr>
        <td><strong>Volume Discount</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.volumeDiscount}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.volumeDiscount}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.volumeDiscount}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.volumeDiscount}}</td>
    </tr>
    <tr>
        <td><strong>Billed</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.billed}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.billed}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.billed}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.billed}}</td>
    </tr>
    <tr>
        <td><strong>Variance</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.variance}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.variance}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.variance}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.variance}}</td>
    </tr>
    <tr>
        <td><strong>Agreed</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.agreed}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.agreed}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.agreed}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.agreed}}</td>
    </tr>
    <tr>
        <td><strong>Variance2</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.variance2}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.variance2}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.variance2}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.variance2}}</td>
    </tr>
    <tr>
        <td><strong>Standard</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.standard}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.standard}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.standard}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.standard}}</td>
    </tr>
    <tr>
        <td><strong>Total Write Down</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.totalWriteDown}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.totalWriteDown}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.totalWriteDown}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.totalWriteDown}}</td>
    </tr>
    <tr>
        <td><strong>Percentage</strong></td>
        <td>{{matterLifeToDate.valueCollectionFees.percentage}}</td>
        <td>{{matterLifeToDate.valueCollectionEffectiveRate.percentage}}</td>
        <td>{{matterLifeToDate.valueCollectionHours.percentage}}</td>
        <td>{{matterLifeToDate.valueCollectionLeverage.percentage}}</td>
    </tr>
</table>