
        <div>
            <div class="pull-left" style="width:50%;">
                <table class="table">
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Matter Currency:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterCurrency}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Client Name:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.clientName}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Client Contact:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.clientContact}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Matter Partner:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterPartner}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Matter Manager:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterManager}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Department:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterDepartment}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Matter Office:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterOffice}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Matter Worktype:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterWorkType}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Matter Type:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.matterType}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Open Date:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.openDate}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Close Date:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterStanding.closeDate}}</td>
                    </tr>
                </table>
            </div>
            <div class="pull-right" style="width:50%;">
                <table class="table">
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Bill Fees:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterBilling.billFees}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Budget Type:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterBilling.budgetType}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Budgeted Value:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterBilling.budgetValue}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Budget Billed:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterBilling.percentOfFeeBudgetBilled}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%; text-align:right; font-weight: bold">Budget Reached:</td>
                        <td style="width:50%; text-align:left;">{{matterInfo.matterBilling.percentOfFeeBudgetReached}}</td>
                    </tr>
                </table>
            </div>
        </div>