<table class="table-finance">

    <tr>
        <td>&nbsp;</td>
        <td>Total</td>
        <td>0-30</td>
        <td>31-90</td>
        <td>91-180</td>
        <td>180+</td>
        <td>% > 90 days</td>
        <!--<td>{{workInProgress.bucketTotals.column}}</td>-->
        <!--<td>{{workInProgress.bucket0To30.column}}</td>-->
        <!--<td>{{workInProgress.bucket31To90.column}}</td>-->
        <!--<td>{{workInProgress.bucket91To180.column}}</td>-->
        <!--<td>{{workInProgress.bucket180Plus.column}}</td>-->
        <!--<td>{{workInProgress.bucketGreater90Days.column}}</td>-->
    </tr>
    <tr>
        <td><strong>Fees</strong></td>
        <td>{{workInProgress.bucketTotals.fees}}</td>
        <td>{{workInProgress.bucket0To30.fees}}</td>
        <td>{{workInProgress.bucket31To90.fees}}</td>
        <td>{{workInProgress.bucket91To180.fees}}</td>
        <td>{{workInProgress.bucket180Plus.fees}}</td>
        <td>{{workInProgress.bucketGreater90Days.fees}}</td>
    </tr>
    <tr>
        <td><strong>Costs</strong></td>
        <td>{{workInProgress.bucketTotals.costs}}</td>
        <td>{{workInProgress.bucket0To30.costs}}</td>
        <td>{{workInProgress.bucket31To90.costs}}</td>
        <td>{{workInProgress.bucket91To180.costs}}</td>
        <td>{{workInProgress.bucket180Plus.costs}}</td>
        <td>{{workInProgress.bucketGreater90Days.costs}}</td>

    </tr>
    <tr>
        <td><strong>Charges</strong></td>
        <td>{{workInProgress.bucketTotals.charges}}</td>
        <td>{{workInProgress.bucket0To30.charges}}</td>
        <td>{{workInProgress.bucket31To90.charges}}</td>
        <td>{{workInProgress.bucket91To180.charges}}</td>
        <td>{{workInProgress.bucket180Plus.charges}}</td>
        <td>{{workInProgress.bucketGreater90Days.charges}}</td>
    </tr>
    <tr>
        <td><strong>Total</strong></td>
        <td>{{workInProgress.bucketTotals.total}}</td>
        <td>{{workInProgress.bucket0To30.total}}</td>
        <td>{{workInProgress.bucket31To90.total}}</td>
        <td>{{workInProgress.bucket91To180.total}}</td>
        <td>{{workInProgress.bucket180Plus.total}}</td>
        <td>{{workInProgress.bucketGreater90Days.total}}</td>
    </tr>

</table>