<div id="contactsSplitView" data-role="splitview" data-style="horizontal"
     data-model="app.Contacts"
     data-init="app.Contacts.init"
     data-show="app.Contacts.show">

    <!--start: left pane contacts list-->
    <div id="contactsPane03" data-role="pane">
        <div data-role="view" id="contactsView" data-layout="default" data-model="app.Contacts">
            <div data-role="header">
                <div data-role="navbar">
                    <a id="back-button1" class="nav-button" data-align="left" data-role="backbutton" data-target="_top">Back</a>
                </div>
            </div>

            <ul id="contactsListViewer" data-role="listview" data-bind="source: contacts" data-template="contactsTemplate" data-pull-to-refresh="true" ></ul>

        </div>
    </div>
    <!--end: left pane contacts list-->

    <!--start: right pane contacts list-->
    <div id="selectedContactPane03" data-role="pane">
        <!--start: default view-->
        <div data-role="view" data-layout="default" id="selectedContactIntro">
            <header data-role="header"><i class="fa fa-refresh"></i></header>
            <div id="drLogoContainer">
                <img src="styles/images/ao-logo.png">
            </div>
            <div id="drImageContainer">
                <img src="styles/images/emergencyContacs.png">
            </div>
            <div id="drHeading">
                <h1>Emergency Contacts</h1>
            </div>
        </div>
        <!--end: default view-->

        <!--start: selected view template-->
        <div data-role="view" id="selectedContactView" data-layout="default" data-model="app.Contacts">

            <ul data-role="listview" data-bind="source: contactDetails" data-template="contactDetailsTemplate"></ul>


        </div>
        <!--end: selected view template-->

    </div>
    <!--end: right pane contacts list-->

</div>

<!--start: left pane template-->
<script id="contactsTemplate" type="text/x-kendo-template">


    <a data-bind="click:selectContact">#: fields.lastName #, #: fields.firstName #</a>


</script>
<!--end: left pane template-->

<!--start: right pane template-->
<script id="contactDetailsTemplate" type="text/x-kendo-template">


    <div class="container contact-card-details">
        <div class="row">
            <div class="col-sm-2">
                <div class="contact-photo">
                    <div class="backgroundImage img-circle" data-bind="attr:{style:getPhoto()}"></div>
                </div>
                <!--<img data-bind="attr: { src: getPhoto(), alt: getDisplayName() }" />-->
            </div>
            <div class="col-sm-10">
                <h1 class="contact-name" data-bind="text: getDisplayName()"></h1>
                <h2 class="job-role" data-bind="text: fields.practice"></h2>
                <h3 class="office-name" data-bind="text: getOffice()"></h3>
            </div>

        </div>
        <div class="row contact-info">
            <div class="col-sm-2 contact-label">email</div>
            <div class="col-sm-10"><a class="icon" data-bind="text:fields.email,attr:{href: getEmailLink()}"></a></div>
        </div>
        <div class="row contact-info">
            <div class="col-sm-2 contact-label">telephone</div>
            <div class="col-sm-10"><a class="icon" data-bind="text:fields.telephone,attr:{href: getTelLink()}"></a></div>
        </div>
        <div class="row contact-info">
            <div class="col-sm-2 contact-label">mobile</div>
            <div class="col-sm-10"><a class="icon" data-bind="text:fields.mobile,attr:{href: getTelLink()}"></a></div>
        </div>



        <!--<div class="footer">-->
            <!--<div class="controlContainer">-->
                <!--<a class="icon" data-bind="attr:{href: getEmailLink()}">-->
                    <!--<i class="fa fa-envelope fa-2x"></i>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="controlContainer">-->
                <!--<a class="icon" data-bind="attr:{href: getTelLink()}">-->
                    <!--<i class="fa fa-phone fa-2x"></i>-->
                <!--</a>-->

            <!--</div>-->

        <!--</div>-->
    </div>


</script>
<!--end: right pane template-->
