<md-card class="remove-shadow remove-margin fill-parent square-corners">
    <div ratio="16:9" position="top" class="fill-image" style="background-image: url({{imageUrl}})"></div>
    <md-card-content ratio="16:9" position="bottom">
        <h2 class="md-title">Paracosm</h2>

        <p>
            this is a test
        </p>
    </md-card-content>
    <div class="fill-x" layout="row" layout-align="start end" style="position: absolute; bottom: 0; z-index: 1000">
        <md-button class="md-primary">Action 1</md-button>
        <md-button class="md-primary">Action 2</md-button>
    </div>
</md-card>