<ion-view title="checkin" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <p>Click on the menu icon to show menu</p>
        <a ui-sref="app.nextpage" class="button">Next Page</a>
    </ion-content>
</ion-view>