<ion-view title="{{name}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <ion-list>
            <ion-item ng-repeat="item in settingsMenu" ui-sref="{{item.link}}">{{item.title}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>