<nav class="off-canvas-sidebar push" id="menu-1" ng-cloak ng-class="offCanvasState.sidebar.currentCssState ">
    <div class="sidebar ao-panel fill align-content-to-header align-content-to-footer">
        <header>

                <button class="off-canvas icon-button" ng-click="toggleMenuState('close')">
                    <i class="fa fa-times-circle fa-2x"></i>
                </button>
            <div class="content">
            </div>
        </header>
        <section>
            <subscribed-matters></subscribed-matters>
        </section>

        <footer>
            <div class="content">&nbsp;</div>
        </footer>
    </div>

</nav>