<div class="ao-panel with round corners align-content-to-header align-content-to-footer" title="signin">
    <header class="with round top corners">
        <div class="content">SIGN IN</div>
    </header>
    <section class="body">
        <div class="content">
            <input ng-model="username" type="text" placeholder="Name" style="width:100%;"/>
            <input type="password" placeholder="Password" style="width:100%;"/>
        </div>
    </section>
    <footer class="with round bottom corners">
        <div class="content">
            <a href="#/reports" class="blue medium button with round corners fill width" ng-click="signIn(username)">SIGN IN</a>
        </div>
    </footer>
</div>