<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header">

        <form class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Workspace Name</span>
                <input type="text" placeholder="Workspace Name" ng-model="settings.workspaceName">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Workspace Url</span>
                <input type="text" readonly placeholder="Workspace URL" ng-model="settings.workspaceUrl">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">API Token</span>
                <input type="text" placeholder="API Token" ng-model="settings.apiToken">
            </label>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="test(settings)" ng-disabled="disableTest">
                    Test
                </button>
                <!--<button class="button button-block button-positive" ng-click="save(settings)" ng-disabled="disableSave">-->
                    <!--Save-->
                <!--</button>-->
            </div>
        </form>
    </ion-content>
</ion-view>