<ion-view title="Settings Workspace">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
       <div class="list list-inset">
           <a ui-sref="app.settings-url" class="item item-icon-left item-icon-right">
               <i class="icon ion-ios7-cloud-outline"></i>
               Workspace Url
               <i class="icon ion-ios7-arrow-right"></i>
           </a>
           <a ui-sref="app.settings-url" class="item item-icon-left item-icon-right">
               <i class="icon ion-ios7-locked-outline"></i>
               Access Token
               <i class="icon ion-ios7-arrow-right"></i>
           </a>
           <a ui-sref="app.settings-project" class="item item-icon-left item-icon-right">
               <i class="icon ion-ios7-clock-outline"></i>
               Project
               <i class="icon ion-ios7-arrow-right"></i>
           </a>
       </div>
    </ion-content>
</ion-view>