<div class="finance ao-panel fill" ng-init="status='1'">
    <header class="">
        <div class="content">{{reportname}}</div>
        <div class="content" style="text-align:right;">{{matterid}}</div>
    </header>
    <section>
        <div ng-switch on="status" class="fill">
            <div ng-switch-when="1" class="fill" style="display:table;">
                <div class="fill" style="display: table-cell; text-align: center; vertical-align: middle;">
                    <i class="icon-remove-sign aocolour-Red" style="font-size: 120px;"></i><br>
                    <span>No Data</span>
                </div>
            </div>
            <div ng-switch-when="2" class="fill" style="display:table;">
                <div style="display: table-cell; text-align: center; vertical-align: middle;">
                    <i class="fa fa-cog fa-spin aocolour-SpotHighlights-Forest" style="font-size: 120px;"></i><br>
                    <span>Loading</span>
                </div>
            </div>
            <div ng-switch-when="3" class="progress progress-striped active">
                <div class="progress-bar"   role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
            <div ng-switch-when="4" class="content">
                <table class="table finance">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Fees</th>
                        <th>Effective Rate</th>
                        <th>Hours</th>
                        <th>Leverage</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Net</td>
                        <td>{{matterLifeToDate.valueCollectionFees.net}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.net}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.net}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.net}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Volume Discount</td>
                        <td>{{matterLifeToDate.valueCollectionFees.volumeDiscount}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.volumeDiscount}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.volumeDiscount}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.volumeDiscount}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Billed</td>
                        <td>{{matterLifeToDate.valueCollectionFees.billed}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.billed}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.billed}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.billed}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Variance</td>
                        <td>{{matterLifeToDate.valueCollectionFees.variance}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.variance}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.variance}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.variance}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Agreed</td>
                        <td>{{matterLifeToDate.valueCollectionFees.agreed}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.agreed}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.agreed}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.agreed}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Variance2</td>
                        <td>{{matterLifeToDate.valueCollectionFees.variance2}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.variance2}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.variance2}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.variance2}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Standard</td>
                        <td>{{matterLifeToDate.valueCollectionFees.standard}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.standard}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.standard}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.standard}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Total Write Down</td>
                        <td>{{matterLifeToDate.valueCollectionFees.totalWriteDown}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.totalWriteDown}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.totalWriteDown}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.totalWriteDown}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Percentage</td>
                        <td>{{matterLifeToDate.valueCollectionFees.percentage}}</td>
                        <td>{{matterLifeToDate.valueCollectionEffectiveRate.percentage}}</td>
                        <td>{{matterLifeToDate.valueCollectionHours.percentage}}</td>
                        <td>{{matterLifeToDate.valueCollectionLeverage.percentage}}</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <footer class="with round bottom corners">
        <div class="content">
            <a href="#/" class="btn btn-default" ng-click="panelMenuClick('chart')"><i class="icon-circle-arrow-left icon-2x"></i></a>

            <!--</div>-->
            <!--<div class="pull-right">-->
            <a class="btn btn-default" ng-click="panelMenuClick('chart')"><i class="icon-bar-chart icon-2x"></i></a>
            <!--<a class="btn btn-default" ng-click="panelMenuClick('refresh')"><i class="icon-refresh icon-2x"></i></a>-->
            <a class="btn btn-default" ng-click="panelMenuClick('dataTable')"><i class="icon-table icon-2x"></i></a>
            <!--</div>-->

        </div>
        <div class="content" style="text-align: right;">
            <div class="btn-group"></div>
            <button type="button btn-default" class="btn btn-default" ng-click="status='1'">No Data</button>
            <button type="button" class="btn btn-default" ng-click="status='2'">Load Data</button>
            <button type="button" class="btn btn-default" ng-click="status='3'">Load Data Alt</button>
            <button type="button" class="btn btn-default" ng-click="status='4'">Have Data</button>
        </div>
    </footer>
</div>