<div>
    <h1>What do you want to do?</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 aobackground-LightNeutrals-Almond"><a class="large red button fill" href="#/json-output">View JSON Output</a></div>
            <div class="col-sm-4 aobackground-LightNeutrals-Almond"><a class="large red button fill" href="#/json-output">View Spaces</a></div>
            <div class="col-sm-4 aobackground-LightNeutrals-Almond"><a class="large red button fill" href="#/json-output">View Content Types</a></div>
        </div>
    </div>

</div>