<ion-view>

    <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon mikes-toggle-button"></button>-->
    <!--</ion-nav-buttons>-->

    <ion-content class="no-header">
        <!--<ion-refresher style="color: white;"-->
                       <!--pulling-text="Pull to refresh..."-->
                       <!--on-refresh="doRefresh()">-->
        <!--</ion-refresher>-->
        <!--<div class="bar-header-image-spacer"></div>-->

        <div class="bar bar-subheader bar-no-border bar-subheader-image blue darken-2 z-depth-1">
            <div class="subheader-title">Accommodation</div>
        </div>
        <ion-nav-view name="accommodationContent"></ion-nav-view>

        <!--<ion-list class="card">-->
            <!--<ion-item ui-sref="app.hotel">Hotel</ion-item>-->
            <!--<ion-item ui-sref="app.apartments">Apartments</ion-item>-->
        <!--</ion-list>-->

    </ion-content>
</ion-view>