<ion-side-menus>

    <!--CONTENT-->
    <ion-side-menu-content drag-content="false">
        <!--<ion-nav-bar animation="nav-title-slide-ios7" class="bar-transparent bar-no-border bar-large">-->

        <!--</ion-nav-bar>-->
        <ion-nav-view name="appContent" animation="no-animation">

        </ion-nav-view>
    </ion-side-menu-content>

    <!--LEFT SIDE MENU-->
    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.home">
                    home
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.accommodation">
                    Accommodation
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/facilities">
                    Facilities
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/location">
                    Location
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/photoGallery">
                    Photo Gallery
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/guestBook">
                    Guest Book
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ratesAndAvailability">
                    Rates And Availability
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/aboutCrete">
                    About Crete
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/usefulInformation">
                    Useful Information
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/keepInTouch">
                    Keep in Touch
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/contact">
                    Contact
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/liveCam">
                    Live Cam
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/countdown">
                    Countdown
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>