<ion-view>

    <!--<ion-nav-buttons side="left">-->
    <!--<button menu-toggle="left" class="button button-icon icon ion-navicon mikes-toggle-button"></button>-->
    <!--</ion-nav-buttons>-->
    <!--<div class="bar bar-header bar-header-image" style="background-image:url('img/pool-chair.jpg');">-->

    <!--</div>-->

    <ion-content class="no-header" on-scroll="isScrolling()">
        <!--<ion-refresher style="color: white;"-->
                       <!--pulling-text="Pull to refresh..."-->
                       <!--on-refresh="doRefresh()">-->
        <!--</ion-refresher>-->
        <!--<div class="bar-header-image-spacer"></div>-->
        <mikes-header photo="img/pool-chair.jpg"></mikes-header>
        <div class="bar bar-subheader bar-no-border bar-subheader-image blue darken-2 z-depth-1">
            <div class="subheader-title">{{title}}</div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>

                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href='#'>This is a link</a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
