

.page-top-container {
  background-color: green; }

.backgroundImage {
  /*top: 50px;*/
  background-repeat: no-repeat;
  /*background-position: top;*/
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.pageTest{
  background-color: blue;
}

//puts a bar under the picture
// put this class after ionic bar to remove the absolute positioning
.page-sub-header{
  position: relative;
}

//.backgroundImage, .blur{
//
//  // note: element size and background image set by inline style attr
//
//
//  background-repeat: no-repeat;
//  background-position: top;
//  background-attachment: fixed;
//
//  -webkit-background-size: contain;
//  -moz-background-size: contain;
//  -o-background-size: contain;
//  background-size: contain;
//
//  overflow:hidden;
//}
//
//.blur {
//
//  -webkit-filter: blur(3px);
//  -moz-filter: blur(3px);
//  -o-filter: blur(3px);
//  -ms-filter: blur(3px);
//  filter: blur(3px);
//
//}

//.pageTop{
//  position: absolute;
//  top: 0px;
//
//
//  border-bottom: solid 1px #c0c0c0;
//  z-index: 100;
//
//  > div{
//    background-color: rgba(0, 0, 0, 0.5);
//    display:table-cell;
//    vertical-align: middle;
//    text-align: center;
//  }
//}

