<div class="panel-footer">
    <!--<div class="pull-left">-->
        <a href="#/" class="btn btn-default" ng-click="panelMenuClick('chart')"><i class="icon-circle-arrow-left icon-2x"></i></a>

    <!--</div>-->
    <!--<div class="pull-right">-->
        <a class="btn btn-default" ng-click="panelMenuClick('chart')"><i class="icon-bar-chart icon-2x"></i></a>
        <!--<a class="btn btn-default" ng-click="panelMenuClick('refresh')"><i class="icon-refresh icon-2x"></i></a>-->
        <a class="btn btn-default" ng-click="panelMenuClick('dataTable')"><i class="icon-table icon-2x"></i></a>
    <!--</div>-->

</div>