<nav ng-class="sideMenuCss">
    <!--<menu-header></menu-header>-->
    <!--<menu-search></menu-search>-->
    <!--<menu-search-results ctrl='SubscribedMattersCtrl'>-->
    <!--</menu-search-results>-->

    <div class="panel panel-default" style="height: 100%">
        <div class="panel-heading menu-panel-heading">Subscribed Matters</div>
        <div class="menu-panel-body">
            <!--ADDED OVERFLOW HIDDEN-->
            <menu-search-results ctrl='SubscribedMattersCtrl'></menu-search-results>
        </div>
        <div class="menu-panel-footer">this is the footer</div>
    </div>
</nav>
